[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Packages/com.unity.package-manager*/.*/ # служебка менеджера
*.csproj
*.sln
*.user
*.unityproj

# Позволяем ассеты:
!Assets/
# ВАЖНО: .meta не игнорим
!*.meta

# Rider/IDE
.idea/
.vscode/
*.DotSettings
/Assets/Materials
Assets/.DS_Store
