# --- UNITY ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds?/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
[Cc]rashReports/
[Aa]ssetBundleBuilds/

# --- IDE / OS ---
.idea/
.vscode/
.DS_Store
.vs/

# --- MSBUILD NOISE ---
*.sln
*.csproj
*.user
*.pidb
*.booproj
*.opendb
*.mdb

# --- Plastic SCM ---
.plastic/
